.App-header {
  background-color:black;
  min-height: 100vh;
}

.navbar {
  margin-left:40px;
}

.logo {
  background: url(../src/Marvel.png);
  margin-left: 46px;
  padding: 10px;
  width: 190px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


ul {
  margin-left: 30px;
}

li {
  margin: 15px;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link {
  color: gainsboro !important;
}

.nav-link:hover {
  color: red !important;
}

.image {
  background: url(../src/Marvels.jpg);
  height:100vh;
  width: 100vw;
  background-size: cover;
}